.container{
    max-width: 600px;
    height:330px;
    margin: 110px auto;
    background-color:#C8ACD6;
    padding: 10px;
    border-radius: 5px;
}
button{
    background-color:white;
    width: 90%;
    margin-top: 3px;
    padding: 0px;
    border: none;
}
.s1{
    background-color: #e06eac;
    padding: 10px 15px;
    float: left;
}
.opt1,.opt2{
    margin-top: 10px;
}
.cont1{
    max-width: 500px;
    margin-left: 70px;
}
.s2{
    margin: 0px;
    padding-top:10px;
    float:left
}
.answer{
    padding: 0%;
}
.b1{

    width: 80px;
    height:30px;
    float: right;
    background-color: #ded3e3;
    border: none;
}
.b1:hover{
    background-color: #e06eac;
}
body{
    background-color: #F8EDED;
}
.hh1{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
}